.container {
  font-family: Tahoma, sans-serif;
}

.homeimage {
  background-image: url("https://fbkoerwitz.github.io/0738902-R1-042-19A.jpg");
  background-position: fixed;
  background-width: 50%;
  background-height: 50%
  top: 25%;
  left: 25%;
}

.centerbox {
  margin: 0 auto;
  width: 40%;
  height: 40%;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 25px;
  border: none;
  -webkit-align-content: center;
  align-content: center;
  background: white;
  opacity: 50%
}
