body { 
    background-image: url('0738902-R1-042-19A.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


.container {
  font-family: Tahoma, sans-serif;
}


.centerbox {
  margin: 0 auto;
  width: 40%;
  height: 40%;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 25px;
  border: none;
  -webkit-align-content: center;
  align-content: center;
  background: white;
  opacity: 0.50;
  z-index: 1;
}

.centerbox-text {
  background: none;
  opacity: .99;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 35%;
  left: 35%;
  margin: 0 auto;
  z-index: 2;
}

.left-centerbox-text {
    width: 50%;
    float: left;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    line-height: 30%;
    display: inline-block;
    z-index: 3;
}

.right-centerbox-text {
    width: 50%;
    float: right;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    line-height: 30%;
    display: inline-block;
    z-index: 3;
}
