.container {
  font-family: Tahoma, sans-serif;
}

.centerbox {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 25%;
  left: 25%;
  padding: 25px;
  border: 2px solid black;
  -webkit-align-content: center;
  align-content: center;
}
