body { 
    background-color: #ffe6ff;
}


.container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 0px;
}

.container a:link, a:visited {
  text-decoration: none;
  color: black;
}


.centerbox {
  margin: 0 auto;
  width: 40%;
  height: 40%;
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 25px;
  border: none;
  -webkit-align-content: center;
  align-content: center;
  background: white;
  opacity: 0.50;
  z-index: 1;
}

.centerbox table {
    opacity: 0.99;
    align-content: center;
    z-index: 2;
    padding: 0px;
    margin: 0 auto;
}

#centerbox-content {
    background: none;
    opacity: 0.99;
    padding: 0px;
}

td:nth-child(1) {
    width: 25%;
    text-align: center;
    align-content: center;
    padding: 0px;
}

td:nth-child(2) {
    width: 75%;
    text-align: center;
    align-content: center;
    padding: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.centerbox-text {
  background: none;
  opacity: .99;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 35%;
  left: 35%;
  margin: 0 auto;
  z-index: 2;
}
