body {
    font-family: Arial, Helvetica, sans-serif;
}

.homeagain {
    text-align: center;
    font-size: 12px;
}

.homeagain a, a:visited {
    display: block;
    text-docoration: none;
    color: black;
}
    
.homeagain ul {
  list-style-type: none;
}
