body {
    font-family: Arial, Helvetica, sans-serif;
}

.homeagain {
    text-align: center;
    font-size: 12px;
}

.homeagain a, a:visited {
    display: block;
    text-docoration: none;
    color: black;
}

.contents {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.contents th {
    width: 100%;
    background: #ffccff;
    content-align: center;
    text-align: center;
}

.contents td {
    width: 20%;
    border: none;
    content-align: center;
    text-align: center;
}
