/* Table */

table {
  margin: 0 auto;
  overflow: scroll;
  position: static;
  width: 80%;
}

.navigation {
  margin: 0 auto;
  background-color: #F4F4F4;
  border: 2px solid black;
  font-align: center;
  width: 50%;
  scroll-behavior: smooth;
}

.navigation td {
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}

.navigation td:hover {
  background-color: #808080
}

.navigation td:nth-child(1) {
  width: 50%;
}

.navigation td:nth-child(2) {
  width: 50%;
}

thead th {
  background: #000000;
  color: #FFF;
  font-color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

td:nth-child(1) {
  width: 30%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 10%;
}

td:nth-child(4) {
  width: 20%;
}
