/* Fonts */

.container {
  font-family: Tahoma, sans-serif;
}


/* Table */

table {
  margin: 0 auto;
  overflow: scroll;
  position: static;
  width: 80%;
}

.navigation {
  margin: 0 auto;
  background-color: #FFFFFF;
  font-align: center;
  font-weight: bold;
  width: 50%;
  scroll-behavior: smooth;
}

.navigation a:link, a:visited {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.navigation td {
  margin: 0 auto;
  text-align: center;
}

.navigation td:hover {
  background-color: #808080
}

.navigation td:nth-child(1) {
  width: 50%;
}

.navigation td:nth-child(2) {
  width: 50%;
}

thead th {
  background: #000000;
  color: #FFF;
  font-color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

td:nth-child(1) {
  width: 30%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 10%;
}

td:nth-child(4) {
  width: 20%;
}
