/* Table */

table {
  margin: 25% 25%;
  overflow: scroll;
  position: static;
  width: 80%;
}

.navigation {
  margin: 0 auto;
  background-color: #000000;
  border: 1px solid black;
  font-align: center;
  width: 75%;
}

.navigation td {
  margin: 0 auto;
  text-align: center;
}

thead th {
  background: #000000;
  color: #FFF;
  font-color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

td:nth-child(1) {
  width: 30%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 10%;
}

td:nth-child(4) {
  width: 20%;
}

.navigation {
  background: #EEEEEE
}
